*{
    box-sizing:border-box;
}
ul li{
    list-style-type: none;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}
header{
    border: 1px solid black;
    padding: 1rem;
    background-color: #b8c1ec;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://media4.giphy.com/media/U3qYN8S0j3bpK/giphy.webp?cid=ecf05e47rq4m1hb8f29qxrq85zfj7arjayy73tbc22eblyd5&rid=giphy.webp&ct=g);
    position: fixed;
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
}
header img{
    width: 100%;
}
main{
    border: 1px solid black;
    padding: 1rem;
    background-color: #b8c1ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside{
    background-color: #b8c1ec;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.principal{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-top: 80px;
}
footer{
    border: 1px solid black;
    padding: 1rem;
    background-color: #b8c1ec;
}
html{
    background-color: #232946;
    scroll-behavior: smooth;
}
h4,h3{
    color: #fffffe;
}
a{
    color: #232946;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items:center;
}
img{
    max-width: max-content;
}
.contatos{
    padding: 0;
    display:flex;
    justify-content: space-around;
}
.center{
    text-align: center;
}
.branco{
    color: white;
}
.borda{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}