*{
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #242629;
}
li{
    list-style-type: none;
}
li,p{
    color: #94a1b2;
    margin:0;
}
.center{
    text-align: center;
}
.link{
    color: cornflowerblue;
}
h3{
    margin: 0;
}
ul{
    padding: 0;
}
header{
    border: 1px solid white;
    position: fixed;
    height: 5rem;
    right:0;
    top: 0;
    width: calc(100% - 16px);
    margin-right: 8px;
    margin-left: 8px;
    background-color: #16161a;
    padding: 1rem;
}
.flex{
    display:flex
}
header a, h4, h3{
    color: #fffffe;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}
main, aside{
    border: 1px solid white;
    padding: 1rem;
    background-color: #16161a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49.5%;
}
.principal{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: 100%;
}
footer{
    border: 1px solid white;
    padding: 1rem;
    background-color: #16161a;
    height: 5rem;
    width: 100%;
}
.contato{
    display: flex;
    flex-direction: row;
}
img{
    width: 1.2rem;
    height: 1.2rem;
    max-width: 100%;
    max-height: 100%;
}
.contatos{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-around;
}
.borda{
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}
@media(max-width:700px){
    .principal{
        flex-direction:column;
    }
    main,aside{
        width: 100%;
    }
    footer{
        height: 8rem;
    }
    .contatos{
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .contato{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;
    }
    footer p{
        text-align: center;
    }
    aside{
        margin-top: 0.5rem;
    }
}