*{
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #242629;
}
li{
    list-style-type: none;
}
li,p{
    color: #94a1b2;
    margin:0;
}
.center{
    text-align: center;
}
.link{
    color: cornflowerblue;
}
h3{
    margin: 0;
}
ul{
    padding: 0;
}
header{
    border: 1px solid white;
    padding: 1rem;
    position: fixed;
    height: 5rem;
    width: 98.93%;
    top: 0;
    background-color: #16161a;
}
header a, h4, h3{
    color: #fffffe;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}
main, aside{
    border: 1px solid white;
    padding: 1rem;
    background-color: #16161a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49.5%;
}
.principal{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: 100%;
}
footer{
    border: 1px solid white;
    padding: 1rem;
    background-color: #16161a;
    height: 5rem;
    width: 100%;
}
.contato{
    display: flex;
    flex-direction: row;
}
img{
    width: 1.2rem;
    height: 1.2rem;
}
.contatos{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-around;
}
.borda{
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}